<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjtrowbridge.apparat"
    android:versionCode="1"
    android:versionName="0.1.0">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Apparat" android:debuggable="true">
        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:label="Apparat"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="apparat" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
